@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 300;
  src: url('~assets/fonts/OpenSans.ttf') format('truetype');
}

@font-face {
  font-family: 'JetBrainsMono-Regular';
  src: url('~assets/fonts/JetBrainsMono-Regular.ttf') format('truetype');
}

* {
  font-family: 'OpenSans';
}

code {
  font-family: 'JetBrainsMono-Regular' !important;
}

*::-webkit-scrollbar {
  width: 0.7em;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 1px;
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 1px;
}
