$grid-breakpoints: (
  xs: 0,
  sm: 640px,
  md: 800px,
  lg: 1280px,
  xl: 1600px
);

$font-family: 'OpenSans', sans-serif !default;
$body-font-family: 'OpenSans', sans-serif !default;
$title-font: 'OpenSans', sans-serif !default;